*{
	margin:0;
	padding:0;
}

.main{
	width:600px;
	height:600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
	justify-content: center;

}

.group{
	display: flex;
	width:400px;
	justify-content: space-between;
	

}

.circle{
	width:100px;
	height:100px;
	background-color: #eee;
	border-radius: 50%;
	animation-name:changingOp;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
#c2{
	animation-delay: 0.5s;
}
#c4{
	animation-delay: 1s;
}
#c6{
	animation-delay: 1.5s;
}
#c5{
	animation-delay: 2s;
}
#c3{
	animation-delay: 2.5s;
}



#top{
	margin-bottom: 50px;
}

@keyframes changingOp{
	0%{
		background-color: #eee;
	}
	1%{
		background-color: #237482;
	}
}

